body {
	margin: 0;
	background-color: #f2f1ee;
}

.logo {
  position: fixed;
  height: 120px;
  width: 120px;
    background-image:
    url("images/titlelogo.png");
    background-size: 100%;
    top:25px;
    right: 60px;

}

.container {
	position: relative;
	height: 50vh;
	box-sizing: border-box;
  display: flex;
  overflow: hidden;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image {

text-decoration: none;
  width: auto;
  overflow: hidden;
  flex-grow: 1;
  transition: .5s;
  background-position: center;
  background-size: cover;
  
}

.feature {
	position: absolute;
	background-color: #DE6E64;
	font-family: Helvetica;
  	color: #f2f1ee;
 	  text-transform: uppercase;
  	font-size: 14px;
  	letter-spacing: 2px;
  	writing-mode: tb-rl;
  	transform: rotate(-180deg);
  	text-align: center;
    padding: 10px;
    height: 100%;
    transition: .5s;
}

.image:hover {
	flex-grow: 3;
	max-width: 100%;
}

.image:hover .feature{
	background-color: #1D7FCA;
}


#image1 {
	background-image:
  	url("images/rockefeller.jpg");
}


#image2 {
	background-image:
  	url("images/coffee.jpg");

}

#image3 {
	background-image:
  	url("images/florida.jpg");
}

#image4 {
	background-image:
  	url("images/law.jpg");
}

#image5 {
	background-image:
  	url("images/larry.jpg");
}

#image6 {
	background-image:
  	url("images/longisland.jpg");
}

#image7 {
	background-image:
  	url("images/huge.jpg");
}

#image8 {
	background-image:
  	url("images/thirty.jpg");
}

#image9 {
	background-image:
  	url("images/rockefeller.jpg");
}